<style>
    .sortUp{
        height: 15px;
        width: 15px;
        vertical-align: middle;
        background-image: url(<%= baseurl() %>images/icon/arrow-up.png);
        background-size: 100%;
        float: right;
    }
    .sortDown{
        height: 15px;
        width: 15px;
        vertical-align: middle;
        background-image: url(<%= baseurl() %>images/icon/arrow-up.png);
        transform: rotate(180deg);
        background-size: 100%;
        float: right;
    }
</style>
<form id="count-checked">
    <table class="size-std full-tables">
        <tr>
            <!-- <th style="text-align: left; cursor: pointer;" ng-click="sort('id_cabang')">No Unit <div ng-class="sortClass('id_cabang')"></div></th> -->
            <th style="text-align: left; cursor: pointer;" ng-click="sort('region')">Kanwil <div ng-class="sortClass('region')"></div></th>
            <th style="text-align: left; cursor: pointer;" ng-click="sort('area')">Area <div ng-class="sortClass('area')"></div></th>
            <th style="text-align: left; width: 200px; cursor: pointer;" ng-click="sort('cabang')">Cabang <div ng-class="sortClass('cabang')"></div></th>
            <th style="cursor: pointer;" ng-click="sort('satpam')">SATPAM <div ng-class="sortClass('satpam')"></div></th>
            <th style="cursor: pointer;" ng-click="sort('penaksir')">PENAKSIR <div ng-class="sortClass('penaksir')"></div></th>
            <th style="cursor: pointer;" ng-click="sort('kasir')">KASIR <div ng-class="sortClass('kasir')"></div></th>
            <th style="cursor: pointer;" ng-click="sort('kebersihan')">KEBERSIHAN <div ng-class="sortClass('kebersihan')"></div></th>
            <th style="cursor: pointer;" ng-click="sort('protokolkesehatan')">PROTOKOL KESEHATAN <div ng-class="sortClass('protokolkesehatan')"></div></th>
            <th style="cursor: pointer;" ng-click="sort('pengelolaagunan')">PENGELOLA AGUNAN <div ng-class="sortClass('pengelolaagunan')"></div></th>
            <th style="cursor: pointer;" ng-click="sort('ro')">RO <div ng-class="sortClass('ro')"></div></th>
        </tr>
        <tr dir-paginate="req in skenario | orderBy:sortKey:reverse | filter: search | itemsPerPage:20">
            <!-- <td>{{req.id_cabang}}</td> -->
            <td>{{req.region}}</td>
            <td>{{req.area}}</td>
            <td>{{req.cabang}}</td>
            <td align="center">{{req.satpam}}</td>
            <td align="center">{{req.penaksir}}</td>
            <td align="center">{{req.kasir}}</td>
            <td align="center">{{req.kebersihan}}</td>
            <td align="center">{{req.protokolkesehatan}}</td>
            <td align="center">{{req.pengelolaagunan}}</td>
            <td align="center">{{req.ro}}</td>
        </tr>
    </table>
    <dir-pagination-controls direction-links="true" boundary-links="true" class="size-std"></dir-pagination-controls>
</form>
<script>
    var app = angular.module('myApp',[]);
    var app = angular.module('myApp',['angularUtils.directives.dirPagination']);
    app.controller('PageCtrl',function ($scope, $http) {
        var jsoon = <%- JSON.stringify(jsonres) %>
        $scope.skenario = jsoon;
        $scope.column = '';
        $scope.sorttype = '';
        $scope.sort = function (keyname) {
            $scope.sortKey = keyname;
            $scope.reverse = !$scope.reverse
            $scope.column = keyname
            if($scope.reverse){
                $scope.sorttype = true
            }else{
                $scope.sorttype = false
            }
        }
        // $scope.column = 'total_skor';
        // $scope.sortColumn = function(col){
        //     $scope.column = col;
        //     if($scope.reverse){
        //         $scope.reverse = false;
        //         $scope.reverseclass = 'sortUp';
        //     }else{
        //         $scope.reverse = true;
        //         $scope.reverseclass = 'sortDown';
        //     }
        // };
        $scope.sortClass = function(col){
            if($scope.column == col ){
                if($scope.sorttype == true){
                    return 'sortDown'; 
                }else{
                    return 'sortUp';
                }
            }else{
                return '';
            }
        } 
    })
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="<%= baseurl() %>js/dirPagination.js" type="text/javascript"></script>
<script src="<%= baseurl() %>js/angular/angular.js" type="text/javascript"></script>
