<style>
    .sortUp{
        height: 15px;
        width: 15px;
        vertical-align: middle;
        background-image: url(<%= baseurl() %>images/icon/arrow-up.png);
        background-size: 100%;
        float: right;
    }
    .sortDown{
        height: 15px;
        width: 15px;
        vertical-align: middle;
        background-image: url(<%= baseurl() %>images/icon/arrow-up.png);
        transform: rotate(180deg);
        background-size: 100%;
        float: right;
    }
</style>
<form id="count-checked">
    <table class="size-std full-tables">
        <tr>
            <th style="text-align: left; cursor: pointer;" ng-click="sort('id_cabang')">No Unit <div ng-class="sortClass('id_cabang')"></div></th>
            <th style="text-align: left; cursor: pointer;" ng-click="sort('region')">Kanwil <div ng-class="sortClass('region')"></div></th>
            <th style="text-align: left; cursor: pointer;" ng-click="sort('area')">Area <div ng-class="sortClass('area')"></div></th>
            <th style="text-align: left; width: 200px; cursor: pointer;" ng-click="sort('cabang')">Cabang <div ng-class="sortClass('cabang')"></div></th>
            <th style="cursor: pointer;" ng-click="sort('status')">Status <div ng-class="sortClass('status')"></div></th>
            <th style="cursor: pointer;" ng-click="sort('acvGadai')">Achievement Gadai <div ng-class="sortClass('acvGadai')"></div></th>
            <th style="width: 100px;">Video Gadai</th>
            <th style="cursor: pointer;" ng-click="sort('acvCalling')">Achievement Calling <div ng-class="sortClass('acvCalling')"></div></th>
            <th style="width: 100px;">Video Calling</th>
            <th style="cursor: pointer;" ng-click="sort('acvCalling2')">Achievement Calling <div ng-class="sortClass('acvCalling2')"></div></th>
            <th style="width: 100px;">Video Calling</th>
        </tr>
        <tr dir-paginate="req in skenario | orderBy:sortKey:reverse | filter: search | itemsPerPage:20">
            <td>{{req.id_cabang}}</td>
            <td>{{req.region}}</td>
            <td>{{req.area}}</td>
            <td>{{req.cabang}}</td>
            <td align="center">{{req.status}}</td>
            <td align="center">{{req.acvGadai}}</td>
            <td align="center"><a href="../detail/gadai/{{req.id_cabang}}" target="_blank" style="display: {{req.acvGadai == 'N' ? 'none' : 'block'}};">View</a></td>
            <td align="center">{{req.acvCalling}}</td>
            <td align="center"><a href="../detail/lunas/{{req.id_cabang}}" target="_blank" style="display: {{req.acvCalling == 'N' ? 'none' : 'block'}};">View</a></td>
            <td align="center">{{req.acvCalling2}}</td>
            <td align="center"><a href="../detail/telp/{{req.id_cabang}}" target="_blank" style="display: {{req.acvCalling2 == 'N' ? 'none' : 'block'}};">View</a></td>
        </tr>
    </table>
    <dir-pagination-controls direction-links="true" boundary-links="true" class="size-std"></dir-pagination-controls>
</form>
<script>
    var app = angular.module('myApp',[]);
    var app = angular.module('myApp',['angularUtils.directives.dirPagination']);
    app.controller('PageCtrl',function ($scope, $http) {
        var jsoon = <%- JSON.stringify(jsonres) %>
        $scope.skenario = jsoon;
        $scope.column = '';
        $scope.sorttype = '';
        $scope.sort = function (keyname) {
            $scope.sortKey = keyname;
            $scope.reverse = !$scope.reverse
            $scope.column = keyname
            if($scope.reverse){
                $scope.sorttype = true
            }else{
                $scope.sorttype = false
            }
        }
        // $scope.column = 'total_skor';
        // $scope.sortColumn = function(col){
        //     $scope.column = col;
        //     if($scope.reverse){
        //         $scope.reverse = false;
        //         $scope.reverseclass = 'sortUp';
        //     }else{
        //         $scope.reverse = true;
        //         $scope.reverseclass = 'sortDown';
        //     }
        // };
        $scope.sortClass = function(col){
            if($scope.column == col ){
                if($scope.sorttype == true){
                    return 'sortDown'; 
                }else{
                    return 'sortUp';
                }
            }else{
                return '';
            }
        } 
    })
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="<%= baseurl() %>js/dirPagination.js" type="text/javascript"></script>
<script src="<%= baseurl() %>js/angular/angular.js" type="text/javascript"></script>
