<form id="count-checked">
    <table class="size-std full-tables">
        <tr>
            <th style="text-align: left; cursor: pointer;" ng-click="sort('region')">Kanwil</th>
            <th style="text-align: left; cursor: pointer;" ng-click="sort('area')">Area</th>
            <th style="text-align: left; width: 200px; cursor: pointer;" ng-click="sort('cabang')">Cabang</th>
            <th style="width: 100px; cursor: pointer;" ng-click="sort('total_skor')">Total Skor</th>
            <th style="width: 100px; cursor: pointer;" ng-click="sort('totalSatpam')">SATPAM</th>
            <th style="width: 100px; cursor: pointer;" ng-click="sort('totalPenaksir')">PENAKSIR</th>
            <th style="width: 100px; cursor: pointer;" ng-click="sort('totalKasir')">KASIR</th>
            <th style="width: 100px; cursor: pointer;" ng-click="sort('totalKebersihan')">KEBERSIHAN</th>
            <th style="width: 100px; cursor: pointer;" ng-click="sort('totalNewNormal')">NEW NORMAL</th>
            <th style="width: 100px; cursor: pointer;" ng-click="sort('totalPengelolaAgunan')">PENGELOLA AGUNAN</th>
            <th style="width: 100px; cursor: pointer;" ng-click="sort('totalRO')">RO</th>
            <th style="width: 100px;">GADAI</th>
            <th style="width: 100px;">LUNAS</th>
            <th style="width: 100px;">TELEPON</th>
        </tr>
        <!-- <% for(var i=0;i < jsonres.length; i++){ %>
        <tr>
            <td><%= jsonres[i].region %></td>
            <td><%= jsonres[i].area %></td>
            <td><%= jsonres[i].cabang %></td>
            <td align="center"><%= jsonres[i].total_skor %></td>
            <td align="center"><%= jsonres[i].totalSatpam %></td>
            <td align="center"><%= jsonres[i].totalPenaksir %></td>
            <td align="center"><%= jsonres[i].totalKasir %></td>
            <td align="center"><%= jsonres[i].totalKebersihan %></td>
            <td align="center"><%= jsonres[i].totalNewNormal %></td>
            <td align="center"><%= jsonres[i].totalPengelolaAgunan %></td>
            <td align="center"><%= jsonres[i].totalRO %></td>
            <td align="center"><a href="">View</a></td>
            <td align="center"><a href="">View</a></td>
            <td align="center"><a href="">View</a></td>
        </tr>
        <% } %> -->

        <tr dir-paginate="req in skenario | orderBy:sortKey:reverse | filter: search | itemsPerPage:20">
            <td>{{req.region}}</td>
            <td>{{req.area}}</td>
            <td>{{req.cabang}}</td>
            <td align="center">{{req.total_skor}}</td>
            <td align="center">{{req.totalSatpam}}</td>
            <td align="center">{{req.totalPenaksir}}</td>
            <td align="center">{{req.totalKasir}}</td>
            <td align="center">{{req.totalKebersihan}}</td>
            <td align="center">{{req.totalNewNormal}}</td>
            <td align="center">{{req.totalPengelolaAgunan}}</td>
            <td align="center">{{req.totalRO}}</td>
            <td align="center"><a href="gadai/{{req.id_cabang}}" target="_blank">View</a></td>
            <td align="center"><a href="lunas/{{req.id_cabang}}" target="_blank">View</a></td>
            <td align="center"><a href="telp/{{req.id_cabang}}" target="_blank">View</a></td>
        </tr>
    </table>
    <dir-pagination-controls direction-links="true" boundary-links="true" class="size-std"></dir-pagination-controls>
</form>
<script>
    var app = angular.module('myApp',[]);
    var app = angular.module('myApp',['angularUtils.directives.dirPagination']);
    app.controller('PageCtrl',function ($scope, $http) {
        var jsoon = <%- JSON.stringify(jsonres) %>
        $scope.skenario = jsoon;
        $scope.sort = function (keyname) {
            $scope.sortKey = keyname;
            $scope.reverse = !$scope.reverse
        }
    })
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="<%= baseurl() %>js/dirPagination.js" type="text/javascript"></script>
<script src="<%= baseurl() %>js/angular/angular.js" type="text/javascript"></script>
