<div class="head gradientl desk">
    <img src="<%= baseurl() %>images/kadence_icon.png" class="logo" style="cursor: pointer;" onclick="window.location.href='./landingpage'">
</div>
<div class="sidebar desk">
    <ul class="menu">
        <li><a href="<%= baseurl() %>achievement/" class="size-std"><img src="<%= baseurl() %>images/icon/dashboard.png"> Achievement</a></li>
        <li><a href="<%= baseurl() %>achievement/detail" class="size-std"><img src="<%= baseurl() %>images/icon/dashboard.png"> Achievement Detail</a></li>
    </ul>
</div>