<div class="head gradientl desk">
    <img src="<%= baseurl() %>images/kadence_icon.png" class="logo">
</div>
<div class="sidebar desk">
    <ul class="menu">
        <li><a href="<%= baseurl() %>" class="size-std"><img src="<%= baseurl() %>images/icon/dashboard.png"> Dashboard</a></li>
        <li><a href="<%= baseurl() %>achievement/" class="size-std"><img src="<%= baseurl() %>images/icon/dashboard.png"> Achievement</a></li>
        <li><a href="<%= baseurl() %>achievement/detail" class="size-std"><img src="<%= baseurl() %>images/icon/dashboard.png"> Achievement Detail</a></li>
        <li><a href="<%= baseurl() %>acv/top" class="size-std"><img src="<%= baseurl() %>images/icon/report.png"> Top 10 Performance</a></li>
        <li><a href="<%= baseurl() %>acv/bottom" class="size-std"><img src="<%= baseurl() %>images/icon/report.png"> Bottom 10 Performance</a></li>
        <li><a href="<%= baseurl() %>acv/" class="size-std"><img src="<%= baseurl() %>images/icon/report.png"> Overal Performance</a></li>
        <li><a href="<%= baseurl() %>report/" class="size-std"><img src="<%= baseurl() %>images/icon/report.png"> Detail Performance</a></li>
        <li><a href="<%= baseurl() %>detail/" class="size-std"><img src="<%= baseurl() %>images/icon/dashboard.png"> Detail Cabang</a></li>
        <!-- <li><a href="<%= baseurl() %>evidence/" class="size-std"><img src="<%= baseurl() %>images/icon/dashboard.png"> Evidence</a></li> -->
        <li><a href="<%= baseurl() %>logout" class="size-std"><img src="<%= baseurl() %>images/icon/logout-blue.png">Logout</a></li>
    </ul>
</div>