<div class="head gradientl desk">
    <img src="<%= baseurl() %>images/kadence_icon.png" class="logo">
</div>
<div class="sidebar desk">
    <ul class="menu">
        <li><a href="<%= baseurl() %>" class="size-std"><img src="<%= baseurl() %>images/icon/dashboard.png"> Dashboard</a></li>
        <li><a href="<%= baseurl() %>report/" class="size-std"><img src="<%= baseurl() %>images/icon/report.png"> Pivot</a></li>
        <li><a href="<%= baseurl() %>evidence/" class="size-std"><img src="<%= baseurl() %>images/icon/dashboard.png"> Evidence</a></li>
    </ul>
</div>