<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="<%= baseurl() %>css/chart.css">
	<style>
		.canvasjs-chart-credit{
			display: none;
		}
		table th{
			position: sticky;
			top: 0;
			position: -webkit-sticky;
			z-index: 99;
		}
		th.rotate {
			/* Something you can count on */
			width: 22px;
			height: 270px;
			white-space: nowrap;
		}

		th.rotate > div {
			transform: 
				/* Magic Numbers */
				translate(-3px, 103px)
				/* 45 is really 360 - 45 */
				rotate(270deg);
			width: 30px;
		}
		th.rotate > div > span {
			border-bottom: 1px solid #ccc;
			padding: 5px 0;
			letter-spacing: .5px;
		}
		.square{
			position: relative;
			margin: auto;
			width: 20px;
			height: 20px !important;
			margin: 3px 0;
		}
		.used{
			background: #C6E48B;
		}
		.unused{
			background: #e6e6e6;
		}
	</style>
</head>
<%- include ('./partials/header') %>
<body>
<div class="wrapper">
	<div class="lSide">
		<%- include ('./partials/sidebar') %>
	</div>
	<div class="rSide">
		<div class="head gradientr desk">
			<%- include ('./partials/topdesk') %>
		</div>
		<div class="mainbox size-std column" style="overflow: unset;">
			<div class="title-content size-std">
				OVERALL PERFORMANCE
			</div>
			
            
            <div class="cols-12 containt" style="margin: 0; overflow: auto; overflow: unset;">
                <div class="headtitle trans" style="margin-bottom: 0;">
                    <p class="size-head4 nopad">Control</p>
                </div>
                <form class="control">
                    <div class="list-control" style="border-bottom: none;">
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Region</span>
                            <select name="" id="kanwil" class="size-std" onchange="getAreaByKanwil(this)">
                                <option value="all">-- Select Region --</option>
                                <% for(var i=0; i < kanwil.length; i++){ %>
                                    <option value="<%= kanwil[i].id_region %>"><%= kanwil[i].region %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Area</span>
                            <select name="" id="area" class="size-std">
                                <option value="all">-- All --</option>
                                <% for(var i=0; i < area.length; i++){ %>
                                    <option value="<%= area[i].id_area %>"><%= area[i].area_name %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Year</span>
                            <select name="" id="year" class="size-std">
                                <option value="all">-- Select Year --</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                            </select>
                        </div>
                        <!-- <div class="list-control-box size-std spc-rl">
                            <span class="size-std">Show By Date </span>
                            <input type="date" name="" id="setDate" onchange="setEndDate()">
                        </div>
                        <div class="list-control-box size-std spc-rl endDate" style="display: none;">
                            <span class="size-std">Set end date </span>
                            <input type="date" name="" id="endDate">
                        </div>-->
                        <div class="list-control-box size-std spc-rl">
                            <button type="submit" class="myButton-submit">Show</button>
                            <button type="reset" class="myButton-submit">Clear</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="full-length" style="position: relative;">
                <div class="loader" style="display: none;">
                    <span class="loader-helper"></span><img src="<%= baseurl() %>images/icon/loader.gif" alt="">
                </div>
                <div class="full-length contentajax" style="overflow-x: auto; padding-bottom: 40px;">
                            
                </div>
            </div>
			<!-- <div class="cols-12 containt" style="margin: 20px 0;">
				<div class="headtitle trans" style="margin-bottom: 0;">
					<p class="size-head4 nopad">Success Chart</p>
					<p class="size-std nopad">Little title</p>
					<ul class="tab-image-setting nopad">
						<li><img src="<%= baseurl() %>images/icon/arrow-up.png" class="btn-tab-toggle delay" href="chartContainer"></li>
					</ul>
                </div>
                <div class="graph">
                    <div class="graph__wrapper">
                        <div class="container">
                            <div class="graph__block" id="graph_03"></div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="cols-12 containt" style="margin: 20px 0;">
				<div class="headtitle trans" style="margin-bottom: 0;">
					<p class="size-head4 nopad">Success Chart</p>
					<p class="size-std nopad">Little title</p>
					<ul class="tab-image-setting nopad">
						<li><img src="<%= baseurl() %>images/icon/arrow-up.png" class="btn-tab-toggle delay" href="chartContainer"></li>
					</ul>
                </div>
                <div style="width: 100%; height: 600px;" class="chartContainer"  id="chartContainer">
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<%- include ('./partials/footer') %>
<script>
function getAreaByKanwil(){
    var kanwil = $('#kanwil').val()
    $.ajax({
        cache: true,
        url: "<%= baseurl() %>acv/areabykanwil/"+kanwil,
        success: function(select){
            $('#area').html(select);
        }
    })
}
$(document).ready(function(){
    $(".control").submit(function(){
        var kanwil = $('#kanwil').val()
        var area = $('#area').val()
        var Date = $('#year').val()
        if(kanwil=="all"){
            $('#year').prop('disabled', false)
        }else{
            $('#year').prop('disabled', 'disabled')
        }
        if(Date=="all"){
            $('#kanwil').prop('disabled', false)
            $('#area').prop('disabled', false)
        }else{
            $('#kanwil').prop('disabled', 'disabled')
            $('#area').prop('disabled', 'disabled')
        }
        // if(Date==""){
        //     var startDate = "all"
        //     var endDate = "all"
        // }else{
        //     var startDate = Date
        //     var endDate = valEndDate
        // }
        var data = "kanwil="+kanwil+"&date="+Date+"&area="+area

        $.ajax({
            url: "<%= baseurl() %>acv/content/",
            type: "GET",
            data: data,
            cache: false,
            async: false,
            beforeSend: function(loading){
                $('.loader').show()
            },success: function(data){
                $('.loader').hide()
                var datanya = []
                for (let i = 0; i < data.length; i++) {
                    datanya.push({label: data[i].nama, y:data[i].achievement})
                }
                console.log(datanya)
                var achievement_2 = {
                    animationEnabled: true,
                    zoomEnabled: true,
                    title: {
                        text: "Overall Performance by Kanwil"
                    },
                    axisY: {
                        title: "Data",
                        includeZero: false,
                        maximum: 100
                    },
                    axisX: {
                        title: "Area"
                    },
                    data: [{
                        type: "column",
                        showInLegend: "true",
                        legendText: "Drag cursor to zoom",
                        indexLabelFontSize: 16,
                        yValueFormatString:"#######.00",
                        indexLabel: "{y}%",
                        dataPoints: datanya
                    }]
                };
                $("#chartContainer").CanvasJSChart(achievement_2);

                // var chart = new CanvasJS.Chart("chartContainer",{
                //     animationEnabled: true,
                //     zoomEnabled: true,
                //     title: {
                //         text: "Achievement"
                //     },
                //     axisY: {
                //         title: "Data",
                //         includeZero: false,
                //         maximum: 100
                //     },
                //     axisX: {
                //         title: "Area"
                //     },
                //     data: [{
                //         type: "column",
                //         showInLegend: "true",
                //         legendText: "Drag cursor to zoom",
                //         indexLabelFontSize: 16,
                //         yValueFormatString:"#######.00",
                //         indexLabel: "{y}%",
                //         dataPoints: datanya
                //     }]
                // });
                // $.getJSON("<%= baseurl() %>js/achievementajax2.js", function(data){
                //     var medan = 0
                //     var kanwil = ["KANWIL MANADO","KANWIL BANDUNG","KANWIL JAKARTA 1","KANWIL PEKANBARU","KANWIL PALEMBANG","KANWIL SEMARANG","KANWIL JAKARTA 2","KANWIL BALIKPAPAN","KANWIL SURABAYA","KANWIL MAKASAR","KANWIL DENPASAR","KANWIL MEDAN"]
                //     for (let x = 0; x < kanwil.length; x++) {
                //         var count = 0
                //         var total = 0
                //         for (let i = 0; i < data.length; i++) {
                //             if(data[i]["REGION"]==kanwil[x]){
                //                 total = total+ data[i]["Total Satpam (KONDISI 1)"]
                //                 count=count+1
                //             }
                //         }
                //         var average = total / count
                //         datanya.push({label: kanwil[x], y:average})
                //     }
                //     chart.render()
                // })
            }
        })
        return false;
    })
})
</script>
<script type="text/javascript" src="http://localhost:5000/js/jquery-3.4.1.min.js"></script>
<script src="http://localhost:5000/js/jquery.canvasjs.min.js"></script>
</html>