<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="<%= baseurl() %>css/chart.css">
	<style>
		.canvasjs-chart-credit{
			display: none;
		}
		table th{
			position: sticky;
			top: 0;
			position: -webkit-sticky;
			z-index: 99;
		}
		th.rotate {
			/* Something you can count on */
			width: 22px;
			height: 270px;
			white-space: nowrap;
		}

		th.rotate > div {
			transform: 
				/* Magic Numbers */
				translate(-3px, 103px)
				/* 45 is really 360 - 45 */
				rotate(270deg);
			width: 30px;
		}
		th.rotate > div > span {
			border-bottom: 1px solid #ccc;
			padding: 5px 0;
			letter-spacing: .5px;
		}
		.square{
			position: relative;
			margin: auto;
			width: 20px;
			height: 20px !important;
			margin: 3px 0;
		}
		.used{
			background: #C6E48B;
		}
		.unused{
			background: #e6e6e6;
		}
	</style>
</head>
<%- include ('./partials/header') %>
<body>
<div class="wrapper">
	<div class="lSide">
		<%- include ('./partials/sidebar') %>
	</div>
	<div class="rSide">
		<div class="head gradientr desk">
			<%- include ('./partials/topdesk') %>
		</div>
		<div class="mainbox size-std column" style="overflow: unset;">
			<div class="title-content size-std">
				OVERALL PERFORMANCE
			</div>
			
            
            <div class="cols-12 containt" style="margin: 0; overflow: auto; overflow: unset;">
                <div class="headtitle trans" style="margin-bottom: 0;">
                    <p class="size-head4 nopad">Control</p>
                </div>
                <form class="control">
                    <div class="list-control" style="border-bottom: none;">
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Kanwil</span>
                            <select name="" id="kanwil" class="size-std" onchange="getAreaByKanwil(this)">
                                <option value="all">-- Select Kanwil --</option>
                                <% for(var i=0; i < kanwil.length; i++){ %>
                                    <option value="<%= kanwil[i].id_region %>"><%= kanwil[i].region %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Area</span>
                            <select name="" id="area" class="size-std">
                                <option value="all">-- All --</option>
                            </select>
                        </div>
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Aspek</span>
                            <select name="" id="aspek" class="size-std">
                                <option value="9">-- All --</option>
                                <% for(var i=0; i < aspek.length; i++){ %>
                                    <option value="<%= aspek[i].id_aspek %>"><%= aspek[i].label_aspek %></option>
                                <% } %>
                            </select>
						</div>
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Year</span>
                            <select name="" id="year" class="size-std">
                                <option value="all">-- Select Year --</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                            </select>
                        </div>
                        <div class="list-control-box size-std spc-rl">
                            <button type="submit" class="myButton-submit">Show</button>
                            <button type="reset" class="myButton-submit">Clear</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="full-length" style="position: relative;">
                <div class="loader" style="display: none;">
                    <span class="loader-helper"></span><img src="<%= baseurl() %>images/icon/loader.gif" alt="">
                </div>
            </div>
            <div class="cols-12 containt" style="margin: 20px 0;">
				<div class="headtitle trans" style="margin-bottom: 0;">
					<p class="size-head4 nopad">&nbsp;</p>
					<p class="size-std nopad">&nbsp;</p>
					<ul class="tab-image-setting nopad">
						<li><img src="<%= baseurl() %>images/icon/arrow-up.png" class="btn-tab-toggle delay" href="chartContainer"></li>
					</ul>
                </div>
                <div style="width: 100%; height: 600px;" class="chartContainer"  id="chartContainer">
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<%- include ('./partials/footer') %>
<script>
$(document).ready(function(){
    $('.control').change(function(){
        var kanwil = $('#kanwil').val()
        var area = $('#area').val()
        var aspek = $('#aspek').val()
        var Date = $('#year').val()
        if(kanwil!="all" || aspek!=9){
            $('#year').prop('disabled', 'disabled')
        }else{
            $('#year').prop('disabled', false)
        }
        if(Date=="all"){
            $('#kanwil').prop('disabled', false)
            $('#area').prop('disabled', false)
            $('#aspek').prop('disabled', false)
        }else{
            $('#kanwil').prop('disabled', 'disabled')
            $('#area').prop('disabled', 'disabled')
            $('#aspek').prop('disabled', 'disabled')
        }
    })
    $(".control").submit(function(){
        var kanwil = $('#kanwil').val()
        var area = $('#area').val()
        var aspek = $('#aspek').val()
        var Date = $('#year').val()
        if(kanwil!="all" || aspek!=9){
            $('#year').prop('disabled', 'disabled')
        }else{
            $('#year').prop('disabled', false)
        }
        if(Date=="all"){
            $('#kanwil').prop('disabled', false)
            $('#area').prop('disabled', false)
            $('#aspek').prop('disabled', false)
        }else{
            $('#kanwil').prop('disabled', 'disabled')
            $('#area').prop('disabled', 'disabled')
            $('#aspek').prop('disabled', 'disabled')
        }
        // if(Date==""){
        //     var startDate = "all"
        //     var endDate = "all"
        // }else{
        //     var startDate = Date
        //     var endDate = valEndDate
        // }
        var data = "kanwil="+kanwil+"&date="+Date+"&area="+area+"&aspek="+aspek

        $.ajax({
            url: "<%= baseurl() %>acv/content/",
            type: "GET",
            data: data,
            cache: false,
            async: false,
            beforeSend: function(loading){
                $('.loader').show()
            },success: function(data){
                $('.loader').hide()
                var datanya = []
                var type = data[0].label
                for (let i = 0; i < data.length; i++) {
                    datanya.push({label: data[i].nama, y:data[i].achievement})
                }
                console.log(datanya)
                CanvasJS.addColorSet("flexmonsterStyle",
                [//colorSet Array

                "#EE232C",
                "#478EC8",
                "#FF8F00",
                "#4DBF5A",
                "#E042A6",
                "#59BBAB",
                "#B96BDD",
                "#EDC200"
                ]);
                var achievement_2 = {
                    animationEnabled: true,
                    zoomEnabled: true,
                    colorSet: "flexmonsterStyle",
                    title: {
                        text: "Overall Performance by "+type
                    },
                    axisY: {
                        title: " ",
                        minimum: 0,
                        maximum: 100,
                    },
                    axisX: {
                        title: " ",
                        labelFontSize: 16,
                        labelWrap: true,
                        labelMaxWidth: 120
                    },
                    data: [{
                        type: "column",
                        yValueFormatString:"#######.00",
                        indexLabel: "{y}",
                        dataPoints: datanya
                    }]
                };
                $("#chartContainer").CanvasJSChart(achievement_2);
            }
        })
        return false;
    })
})
</script>
<script type="text/javascript" src="<%= baseurl() %>js/jquery-3.4.1.min.js"></script>
<script src="<%= baseurl() %>js/jquery.canvasjs.min.js"></script>
</html>