<!DOCTYPE html>
<html>
<head>
	<title>Achievement | Dashboard KEPO Kadence</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="<%= baseurl() %>css/chart.css">
	<style>
		.canvasjs-chart-credit{
			display: none;
		}
		table th{
			position: sticky;
			top: 0;
			position: -webkit-sticky;
			z-index: 99;
		}
		th.rotate {
			/* Something you can count on */
			width: 22px;
			height: 270px;
			white-space: nowrap;
		}

		th.rotate > div {
			transform: 
				/* Magic Numbers */
				translate(-3px, 103px)
				/* 45 is really 360 - 45 */
				rotate(270deg);
			width: 30px;
		}
		th.rotate > div > span {
			border-bottom: 1px solid #ccc;
			padding: 5px 0;
			letter-spacing: .5px;
		}
		.square{
			position: relative;
			margin: auto;
			width: 20px;
			height: 20px !important;
			margin: 3px 0;
		}
		.used{
			background: #C6E48B;
		}
		.unused{
			background: #e6e6e6;
		}
	</style>
</head>
<%- include ('./partials/header') %>
<body>
<div class="wrapper">
	<div class="lSide">
		<%- include ('./partials/sidebarAchv') %>
	</div>
	<div class="rSide">
		<div class="head gradientr desk">
			<%- include ('./partials/topdesk') %>
		</div>
		<div class="mainbox size-std column" style="overflow: unset;">
			<div class="title-content size-std">
				ACHIEVEMENT
			</div>
			
            <div class="full-length" style="overflow: hidden; padding: 10px;">
                <div class="list-control-box spc-rl">
                    <div class="radiotype1">
                        <input type="radio" id="radio01" name="type" value="po" checked="">
                        <label for="radio01" id="chartline"><span></span>Mystery Shopping Kadence</label>
                    </div>
                    <div class="radiotype1">
                        <input type="radio" id="radio02" name="type" value="re" onclick="window.location='/achievement/pegadaian-internal'" >
                        <label for="radio02" id="chartline"><span></span>Internal MS Pegadaian</label>
                    </div>
                </div>
            </div>
            <div class="cols-12 containt" style="margin: 0; overflow: auto; overflow: unset;">
                <div class="headtitle trans" style="margin-bottom: 0;">
                    <p class="size-head4 nopad">Control</p>
                </div>
                <form class="control">
                    <div class="list-control" style="border-bottom: none;">
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Kanwil</span>
                            <select name="" id="kanwil" class="size-std" onchange="getAreaByKanwil(this)">
                                <option value="all">-- Select Kanwil --</option>
                                <% for(var i=0; i < kanwil.length; i++){ %>
                                    <option value="<%= kanwil[i].id_region %>"><%= kanwil[i].region %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Area</span>
                            <select name="" id="area" class="size-std" onchange="getBranchByArea(this)">
                                <option value="all">-- All --</option>
                            </select>
                        </div>
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Cabang</span>
                            <select name="" id="cabang" class="size-std">
                                <option value="all">-- All --</option>
                            </select>
						</div>
                        <div class="list-control-box size-std spc-rl">
                            <button type="submit" class="myButton-submit">Show</button>
                            <button type="reset" class="myButton-submit">Clear</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="top-info column" id="overview" style="margin-top: 20px">
                
            </div>
            <div class="full-length" style="position: relative;">
                <div class="loader" style="display: none;">
                    <span class="loader-helper"></span><img src="<%= baseurl() %>images/icon/loader.gif" alt="">
                </div>
            </div>
            <div class="cols-6 containt" style="margin: 20px 0;">
				<div class="headtitle trans" style="margin-bottom: 0;">
					<p class="size-head4 nopad">&nbsp;</p>
					<p class="size-std nopad">&nbsp;</p>
					<ul class="tab-image-setting nopad">
						<li><img src="<%= baseurl() %>images/icon/arrow-up.png" class="btn-tab-toggle delay" href="chartContainer"></li>
					</ul>
                </div>
                <div style="width: 100%; height: 400px;" class="chartContainer"  id="chartContainer">
				</div>
			</div>
            <div class="cols-6 containt" style="margin: 20px 0;">
				<div class="headtitle trans" style="margin-bottom: 0;">
					<p class="size-head4 nopad">&nbsp;</p>
					<p class="size-std nopad">&nbsp;</p>
					<ul class="tab-image-setting nopad">
						<li><img src="<%= baseurl() %>images/icon/arrow-up.png" class="btn-tab-toggle delay" href="chartContainer"></li>
					</ul>
                </div>
                <div style="width: 100%; height: 400px;" class="chartContainer2"  id="chartContainer2">
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<%- include ('./partials/footer') %>
<script>
$(document).ready(function(){
    $('.control').change(function(){
        var kanwil = $('#kanwil').val()
        var area = $('#area').val()
        var cabang = $('#cabang').val()
        if(kanwil!="all"){
            $('#area').prop('disabled', false)
        }else{
            $('#area').prop('disabled', 'disabled')
		}
		if(area!="all"){
            $('#cabang').prop('disabled', false)
        }else{
            $('#cabang').prop('disabled', 'disabled')
		}
    })    
    $(".control").submit(function(){
        var kanwil = $('#kanwil').val()
        var area = $('#area').val()
        var cabang = $('#cabang').val()
        var data = "kanwil="+kanwil+"&area="+area+"&cabang="+cabang
        console.log(data)
        $.ajax({
            url: "<%= baseurl() %>achievement/content/",
            type: "GET",
            data: data,
            cache: false,
            async: false,
            beforeSend: function(loading){
                $('.loader').show()
            },success: function(data){
                var overview = ``;
                for (let i = 0; i < data[2].length; i++) {
                    overview += `<div class="containt top-info-box shadow half delay" style="background: #68BAF8;">`
                    overview += `<div class="size-std icon-info"><img src="<%= baseurl() %>images/icon/visitors-white.png"></div>`
                    overview += 	`<div class="field-info">`
                    overview += `<p class="nopad size-head4"><b>${data[2][i].label}</b></p>`
                    overview += `<p class="size-head1 nopad">${data[2][i].count} ${i > 0 ? `(${data[2][i].y}%)` : ''}</p>`
                    overview += `</div>`
                    overview += `</div>`
                }

                $('#overview').html(overview)
                if($(window).width() < 1600){
                    var fontSize = 10
                }else{
                    var fontSize = 16
                }
                $('.loader').hide()
                console.log(data)
                CanvasJS.addColorSet("flexmonsterStyle",
                [//colorSet Array

                "#EE232C",
                "#478EC8",
                "#FF8F00",
                "#4DBF5A",
                "#E042A6",
                "#59BBAB",
                "#B96BDD",
                "#EDC200"
                ]);
                function compareDataPointYAscend(dataPoint1, dataPoint2) {
                    return dataPoint1.y - dataPoint2.y;
                }

                function compareDataPointYDescend(dataPoint1, dataPoint2) {
                    return dataPoint2.y - dataPoint1.y;
                }

                var achievement = new CanvasJS.Chart("chartContainer",{
                    animationEnabled: true,
                    zoomEnabled: true,
                    exportEnabled: true,
                    title: {
                        text: "SKENARIO"
                    },
                    dataPointWidth: 150,
                    axisY: {
                        title: " ",
                        minimum: 0,
                        maximum: 100,
                        includeZero: true
                    },
                    axisX: {
                        title: " ",
                        labelFontSize: fontSize,
                        labelWrap: true,
                        labelMaxWidth: 100,
                        includeZero: true,
                        margin: 10
                    },
                    toolTip:{   
                        content: "{label}: {y}% ({count})"      
                    },
                    data: [{
                        type: "column",
                        yValueFormatString:"#######.00",
                        indexLabel: "{y}%",
                        dataPoints: data[0]
                    }]
                });
                // achievement.options.data[0].dataPoints.sort(compareDataPointYDescend);
                achievement.render();

                var achievement_2 = new CanvasJS.Chart("chartContainer2",{
                    animationEnabled: true,
                    zoomEnabled: true,
                    exportEnabled: true,
                    title: {
                        text: "CATEGORY"
                    },
                    dataPointWidth: 150,
                    axisY: {
                        title: " ",
                        minimum: 0,
                        maximum: 100,
                        includeZero: true
                    },
                    axisX: {
                        title: " ",
                        labelFontSize: fontSize,
                        labelWrap: true,
                        labelMaxWidth: 100,
                        includeZero: true,
                        margin: 10
                    },
                    toolTip:{   
                        content: "{label}: {y}% ({count})"      
                    },
                    data: [{
                        type: "column",
                        yValueFormatString:"#######.00",
                        indexLabel: "{y}%",
                        dataPoints: data[1]
                    }]
                });
                // achievement_2.options.data[0].dataPoints.sort(compareDataPointYDescend);
                achievement_2.render();
            }
        })
        return false;
    })
})
</script>
<script type="text/javascript" src="<%= baseurl() %>js/jquery-3.4.1.min.js"></script>
<script src="<%= baseurl() %>js/jquery.canvasjs.min.js"></script>
</html>