<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="<%= baseurl() %>css/chart.css">
	<style>
		.canvasjs-chart-credit{
			display: none;
		}
		table th{
			position: sticky;
			top: 0;
			position: -webkit-sticky;
			z-index: 99;
		}
		th.rotate {
			/* Something you can count on */
			width: 22px;
			height: 270px;
			white-space: nowrap;
		}

		th.rotate > div {
			transform: 
				/* Magic Numbers */
				translate(-3px, 103px)
				/* 45 is really 360 - 45 */
				rotate(270deg);
			width: 30px;
		}
		th.rotate > div > span {
			border-bottom: 1px solid #ccc;
			padding: 5px 0;
			letter-spacing: .5px;
		}
		.square{
			position: relative;
			margin: auto;
			width: 20px;
			height: 20px !important;
			margin: 3px 0;
		}
		.used{
			background: #C6E48B;
		}
		.unused{
			background: #e6e6e6;
		}
	</style>
</head>
<%- include ('./partials/header') %>
<body>
<div class="wrapper">
	<div class="lSide">
		<%- include ('./partials/sidebar') %>
	</div>
	<div class="rSide">
		<div class="head gradientr desk">
			<%- include ('./partials/topdesk') %>
		</div>
		<div class="mainbox size-std column" style="overflow: unset;">
			<div class="title-content size-std">
				<a href="<%= baseurl() %>">DASHBOARD</a> > <%= task[0].deskripsi %>
			</div>
			<% if(task[0].src!="gdrive"){ %>
			<!-- <div class="cols-12 column containt" style="margin: 10px 0; background-color: #ffffff;">
				<video id="videoplayer" width="100%" height="520" controls style="margin-top: 30px">
					<source src="http://apps.kadence.co.id/kepo/files/<%= task[0].id+'/'+task[0].filename %>" type="video/mp4">
                      Your browser does not support the video tag.
				</video>
			</div>
			 -->
			<div class="cols-12">
				<!-- Tabgrid -->
				<% 
					var arrvids = task[0].filename.split(",") 
				%>
                <div class="full-length containt" style="margin-top: 20px;">
                    <div class="tabgrid full-length">
                        <ul>
							<% for(var i=0;i < arrvids.length;i++){ %>
								<% 
									var splitfile = arrvids[i].split(".") 
									var tipeFile = splitfile[splitfile.length-1]
									if(tipeFile=="jpg" || tipeFile=="jpeg" || tipeFile=="png"){
										var tabname = "Image"
									}else{
										var tabname = "Video"
									}
								%>
								<% if(i == 0){ %>
								<li class="thistab delay active" data="video<%= i+1 %>" data-target="<%= i %>"><%= tabname %> <%= i+1 %></li>
								<% }else{ %>
								<li class="thistab delay" data="video<%= i+1 %>" data-target="<%= i %>"><%= tabname %> <%= i+1 %></li>
								<% } %>
							<% } %>
                        </ul>
                        <div class="selectorline"></div>
                    </div>
                    <div class="full-length tabgridwrap">
                        <div class="tabgridcontent">
							<% for(var v=0;v < arrvids.length;v++){ %>
								<% 
									var splitfile = arrvids[v].split(".") 
									var tipeFile = splitfile[splitfile.length-1]
								%>
                            <div class="gridcontent active delay" id="video<%= v+1 %>" data="<%= v+1 %>">
								<div style="width: 100%; padding: 10px; text-align: center;">
									<% if(tipeFile=="jpg" || tipeFile=="jpeg" || tipeFile=="png"){ %>
										<img src="http://survey.kadence.co.id:5000/videos/<%= task[0].tipe %>/<%= task[0].id_sub_branch+'/'+arrvids[v] %>" alt="" style="height: 520px;">
									<% }else{ %>
									<video id="videoplayer" width="100%" height="520" controls style="margin-top: 30px">
										<source src="http://apps.kadence.co.id/kepo/files/<%= task[0].id+'/'+arrvids[v] %>" type="video/mp4">
										  Your browser does not support the video tag.
									</video>
									<% } %>
                                </div>
							</div>
							<% } %>
                        </div>
                    </div>
                </div>
                <!-- Tabgrid -->
			</div>
			<% }else{ %>
			<div class="cols-12">
				<!-- Tabgrid -->
				<% if(task[0].filename=="n"){ %>
					<div class="full-length containt" style="margin-top: 20px;">
						<p>Evidence Not Found</p>
					</div>	
				<% }else{ %>
				<% 
					var arrvids = task[0].filename.split(",") 
				%>
                <div class="full-length containt" style="margin-top: 20px;">
                    <div class="tabgrid full-length">
                        <ul>
							<% for(var i=0;i < arrvids.length;i++){ %>
								<% 
									var splitfile = arrvids[i].split(".") 
									var tipeFile = splitfile[splitfile.length-1]
									if(tipeFile=="jpg" || tipeFile=="jpeg" || tipeFile=="png"){
										var tabname = "Image"
									}else{
										var tabname = "Video"
									}
								%>
								<% if(i == 0){ %>
								<li class="thistab delay active" data="video<%= i+1 %>" data-target="<%= i %>"><%= tabname %> <%= i+1 %></li>
								<% }else{ %>
								<li class="thistab delay" data="video<%= i+1 %>" data-target="<%= i %>"><%= tabname %> <%= i+1 %></li>
								<% } %>
							<% } %>
                        </ul>
                        <div class="selectorline"></div>
                    </div>
                    <div class="full-length tabgridwrap">
                        <div class="tabgridcontent">
							<% for(var v=0;v < arrvids.length;v++){ %>
								<% 
									var splitfile = arrvids[v].split(".") 
									var tipeFile = splitfile[splitfile.length-1]
								%>
                            <div class="gridcontent active delay" id="video<%= v+1 %>" data="<%= v+1 %>">
								<div style="width: 100%; padding: 10px; text-align: center;">
									<% if(tipeFile=="jpg" || tipeFile=="jpeg" || tipeFile=="png"){ %>
										<img src="http://survey.kadence.co.id:5000/videos/<%= task[0].tipe %>/<%= task[0].id_sub_branch+'/'+arrvids[v] %>" alt="" style="height: 520px;">
									<% }else{ %>
									<video id="videoplayer" width="100%" height="520" controls style="margin-top: 30px">
										<source src="http://survey.kadence.co.id:5000/videos/<%= task[0].tipe %>/<%= task[0].id_sub_branch+'/'+arrvids[v] %>" type="video/mp4">
										  Your browser does not support the video tag.
									</video>
									<% } %>
                                </div>
							</div>
							<% } %>
                        </div>
                    </div>
				</div>
				<% } %>
                <!-- Tabgrid -->
			</div>
			<% } %>
            <!-- <div class="cols-12">
                <div class="full-length containt" style="margin-top: 20px;">
                    <div class="tabgrid full-length">
                        <ul>
                            <li class="thistab delay active" data="catatan" data-target="0">Catatan</li>
                            <li class="thistab delay" data="lokasi" data-target="1">Lokasi</li>
                            <li class="thistab delay" data="attachment" data-target="2">Detail</li>
                        </ul>
                        <div class="selectorline"></div>
                    </div>
                    <div class="full-length tabgridwrap">
                        <div class="tabgridcontent">
                            <div class="gridcontent active delay" id="catatan" data="1">
                                <div style="width: 100%; padding: 10px;">
									<% if(notes.length == 0){ %>
										<p>Belum ada catatan</p>
									<% }else{ for(let note of notes){ %>
										<div class="cmntBox">
											<table class="size-std">
												<tr>
													<td><img src="<%= baseurl() %>images/icon/arrow-up.png" class="btn-tab-toggle delay" title="Collapse" height="10" style="cursor: pointer;"></td>
													<td><%= note.second %> added a note - <%= moment(note.updatetime).format('DD/MMM/YYYY') %></td>
												</tr>
												<tr class="cmnt_<%= note.id %>">
													<td>&nbsp;</td>
													<td style="padding: 5px 0;"><%= note.note %></td>
												</tr>
											</table>
										</div>
									<% }} %>
                                </div>
                            </div>
                            <div class="gridcontent delay" id="lokasi" data="2">
                                <div style="padding: 10px; width: 100%;">
                                    <p>Lokasi</p>
                                </div>
                            </div>
                            <div class="gridcontent delay" id="attachment" data="3">
                                    <p><% var arr = task[0].filename.split(",") %><%= arr.length %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
		</div>
	</div>
</div>
</body>
<%- include ('./partials/footer') %>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script src="<% baseurl() %>js/chart.js" type="text/javascript"></script>
</html>