<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="">
	<script src="<%= baseurl() %>plugin/flexmonster/theme/green/flexmonster.css"></script>
	<link rel="stylesheet" href="<%= baseurl() %>css/chart.css">
	<style>
		.canvasjs-chart-credit{
			display: none;
		}
		table th{
			position: sticky;
			top: 0;
			position: -webkit-sticky;
			z-index: 99;
		}
		th.rotate {
			/* Something you can count on */
			width: 22px;
			height: 270px;
			white-space: nowrap;
		}

		th.rotate > div {
			transform: 
				/* Magic Numbers */
				translate(-3px, 103px)
				/* 45 is really 360 - 45 */
				rotate(270deg);
			width: 30px;
		}
		th.rotate > div > span {
			border-bottom: 1px solid #ccc;
			padding: 5px 0;
			letter-spacing: .5px;
		}
		.square{
			position: relative;
			margin: auto;
			width: 20px;
			height: 20px !important;
			margin: 3px 0;
		}
		.used{
			background: #C6E48B;
		}
		.unused{
			background: #e6e6e6;
		}
		#fm-pivot-view .fm-data-label{
			font-size: 19px !important;
			font-weight: bold !important;
		}
		/* #fm-pivot-view #fm-charts-view #fm-header-toolbar #fm-charts-filters-container .fm-ui-btn{
			display: none !important;
		}
		#fm-pivot-view .fm-axis text{
			font-size: 18px !important;
			font-weight: bold !important;
		} */
		/* rect{
			display: none !important;
		} */
		/* rect:nth-child(9){
			display: none !important;
		} */
		#fm-pivot-view #fm-charts-view #fm-chart-legend{
			display: none;
		}
		/* .fm-data-label:last-child{
			display: none !important;
		} */
		.legendtext{
			display: flex;
		}
		.legendtext li{
			float: left;
			position: relative;
			padding: 0 18px;
			/* max-width: 10%; */
			text-transform: uppercase;
			font-weight: bold;
			font-size: 14px;
			display: inline-table;
		}
		.legendtext li:nth-child(1) div{
			background-color: red;
		}
		.legendtext li:nth-child(2) div{
			background-color: #2E75AF;
		}
		.legendtext li:nth-child(3) div{
			background-color: #E67600;
		}
		.legendtext li:nth-child(4) div{
			background-color: #34A641;
		}
		.legendtext li:nth-child(5) div{
			background-color: #C7298D;
		}
		.legendtext li:nth-child(6) div{
			background-color: #40A292;
		}
		.legendtext li:nth-child(7) div{
			background-color: #A052C4;
		}
		.legendtext li:nth-child(8) div{
			background-color: #D4A900;
		}
		.legendtext li:nth-child(9) div{
			background-color: #0CA7C4;
		}
		.legendtext li div{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 14px;
			height: 14px;
			float: left;
			border-radius: 50%;
		}
	</style>
</head>
<%- include ('./partials/header') %>
<body>
<div class="wrapper">
	<div class="lSide">
		<%- include ('./partials/sidebar') %>
	</div>
	<div class="rSide">
		<div class="head gradientr desk">
			<%- include ('./partials/topdesk') %>
		</div>
		<div class="mainbox size-std column" style="overflow: unset;">
			<div class="title-content size-std">
				DETAIL PERFORMANCE
			</div>
			<div class="full-length" style="overflow: hidden; padding: 10px;">
                <div class="list-control-box spc-rl">
                    <div class="radiotype1">
                        <input type="radio" id="radio01" name="type" value="po" checked="">
                        <label for="radio01" id="chartline"><span></span>Mystery Shopping Kadence</label>
                    </div>
                    <div class="radiotype1">
                        <input type="radio" id="radio02" name="type" value="re" onclick="window.location='/report/pegadaian-internal'" >
                        <label for="radio02" id="chartline"><span></span>Internal MS Pegadaian</label>
                    </div>
                </div>
            </div>
			<div class="cols-12 containt" style="margin: 0; overflow: auto; overflow: unset;">
                <div class="headtitle trans" style="margin-bottom: 0;">
                    <p class="size-head4 nopad">Control</p>
                </div>
                <form class="control">
                    <div class="list-control" style="border-bottom: none;">
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Category</span><br/>
                            <select name="kategori" id="kategori" class="size-std" onchange="getAreaByKanwil(this)">
                                <option value="all">-- All --</option>
                                <option value="cabang">Cabang</option>
								<option value="upc">Unit</option>
								<option value="collocation">Collocation</option>
								<option value="cabang,upc">Cabang & Unit</option>
                            </select>
                        </div>
						<div class="list-control-box spc-rl">
                            <span class="size-std">Show By Kanwil</span><br/>
                            <select name="" id="kanwil" class="size-std" onchange="getAreaByKanwil(this)">
                                <option value="all">-- Select Kanwil --</option>
                                <% for(var i=0; i < kanwil.length; i++){ %>
                                    <option value="<%= kanwil[i].id_region %>"><%= kanwil[i].region %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Area</span><br/>
                            <select name="" id="area" class="size-std" onchange="getBranchByArea(this)">
                                <option value="all">-- All --</option>
                            </select>
						</div>
						<div class="list-control-box spc-rl">
                            <span class="size-std">Show By Cabang</span><br/>
                            <select name="" id="cabang" class="size-std">
                                <option value="all">-- All --</option>
                            </select>
						</div>
						<div class="list-control-box spc-rl">
                            <span class="size-std">Show By Aspek</span><br/>
                            <select name="" id="aspek" class="size-std">
                                <option value="9">-- All --</option>
                                <% for(var i=0; i < aspek.length; i++){ %>
                                    <option value="<%= aspek[i].id_aspek %>"><%= aspek[i].label_aspek %></option>
                                <% } %>
                            </select>
						</div>
						<!-- <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Element</span>
                            <select name="" id="element" class="size-std">
                                <option value="all">-- All --</option>
                            </select>
						</div> -->
                        <div class="list-control-box size-std spc-rl">
                            <button type="reset" class="myButton-submit">Clear</button>
                        </div>
                    </div>

                </form>
            </div>
			<div class="cols-12 containt" style="margin: 20px 0;">
				<div class="headtitle trans" style="margin-bottom: 0;">
					<p class="size-head4 nopad">Detail Attribute Performance</p>
					<ul class="tab-image-setting nopad">
						<li><img src="<%= baseurl() %>images/icon/arrow-up.png" class="btn-tab-toggle delay" href="chartContainer"></li>
					</ul>
				</div>
				<div class="loader" style="display: none;">
                    <span class="loader-helper"></span><img src="<%= baseurl() %>images/icon/loader.gif" alt="">
                </div>
				<div style="width: 100%; height: 700px;" class="chartContainer"  id="chartContainer">
					<div id="pivotContainer" style="padding-bottom: 30px;"></div>
				</div>
				<div style="display: table; margin: auto;">
					<ul class="legendtext">
						<li><div></div> TOTAL</li>
						<li><div></div> SATPAM</li>
						<li><div></div> PENAKSIR</li>
						<li><div></div> KASIR</li>
						<li><div></div> PENGELOLA AGUNAN</li>
						<li><div></div> RO</li>
						<li><div></div> PROTOKOL KESEHATAN</li>
						<li><div></div> KEBERSIHAN</li>
						<li><div></div> FRONTLINER</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<%- include ('./partials/footer') %>

<script type="text/javascript">

$(document).ready(function(){
				var pivot = new Flexmonster({
					container: "pivotContainer",
					toolbar: false,
					height: "100%",
					report: {
						dataSource: {
							filename: "<%= baseurl() %>rawdatacsv/detail_performance_2022.csv"
						},
						"slice": {
							"reportFilters": [
								{
									"uniqueName": "AREA"
								},
								{
									"uniqueName": "CABANG"
								}
							],
							"columns": [
								{
									"uniqueName": "[Measures]"
								},
								{
									"uniqueName": "ASPEK",
									"sortOrder": [
										"satpam",
										"penaksir",
										"kasir",
										"pengelola agunan",
										"ro",
										"protokol kesehatan",
										"kebersihan",
										"frontliner",
										"OTHER"
									]
								},
								{
									"uniqueName": "ELEMENT",
									"filter": {
										"members": [
											"element.[total score]",
											"element.[frontliner]",
											"element.[kasir]",
											"element.[kebersihan]",
											"element.[protokol kesehatan]",
											"element.[penaksir]",
											"element.[pengelola agunan]",
											"element.[ro]",
											"element.[satpam]",
											"element.[other]"
										]
									},
									"sortOrder": [
										"frontliner",
										"kegiatan frontliner lainnya",
										"sikap frontliner/staff dalam menerima panggilan telepon",
										"sikap frontliner/staff dalam mengakhiri panggilan telepon"
									]
								}
							],
							"measures": [
								{
									"uniqueName": "SCORE",
									"aggregation": "average"
								}
							],
							"expands": {
								"expandAll": true
							}
						},
						"options": {
							"viewType": "charts",
							"grid": {
								"showGrandTotals": "off",
								"showReportFiltersArea": false
							},
							"chart": {
								"showDataLabels": true,
								"showReportFiltersArea": false
							}
						},
						"formats": [
							{
								"name": "",
								"decimalPlaces": 2
							}
						],
					},
					licenseKey: "Z70Q-XA3J4O-2C3U45-066V0Y"
				});
				var html = ""
				html +="<style>"
				html += "rect:nth-child(9){"
				// html += "display: none !important;"
				html += "}"
				html +="</style>"
				$("body").after(html)
	$(".control").change(function(){
        var kategori = $('#kategori').val()
		var kanwil = $('#kanwil').val()
		var area = $('#area').val()
		var cabang = $('#cabang').val()
		var aspek = $('#aspek').val()
		var element = $('#element').val()
        if(kanwil!="all"){
            $('#area').prop('disabled', false)
        }else{
            $('#area').prop('disabled', 'disabled')
		}
		if(area!="all"){
            $('#cabang').prop('disabled', false)
        }else{
            $('#cabang').prop('disabled', 'disabled')
		}
		if(aspek!="all"){
            $('#element').prop('disabled', false)
        }else{
            $('#element').prop('disabled', 'disabled')
		}
		var data = "kanwil="+kanwil+"&area="+area+"&cabang="+cabang+"&aspek="+aspek+"&element="+element
		$.ajax({
            url: "<%= baseurl() %>report/content/",
            type: "GET",
            data: data,
            cache: false,
            beforeSend: function(loading){
                $('.loader').show()
            },success: function(data){
				$('.loader').hide()
				var areaFilter = []
				var branchFilter = []
				var aspekFilter = []
				var elementFilter = ["element.[total score]"]
				for (let i = 0; i < data[0].length; i++) {
					if(data[0][0].label=="AREA"){
						areaFilter.push("AREA.["+data[0][i].nama+"]")
					}
					if(data[0][0].label=="BRANCH"){
						branchFilter.push("CABANG.["+data[0][i].nama+"]")
					}
				}
				if(data[0][0].label=="AREA"){
					var rowss = [{"uniqueName": "AREA","filter": {"members": areaFilter}}]
				}
				if(data[0][0].label=="BRANCH"){
					var rowss = [{"uniqueName": "CABANG","filter": {"members": branchFilter}}]
				}
				var splitKategori = kategori.split(',');
				var kategoriStatus=[];
				for (let i = 0; i < splitKategori.length; i++) {
					kategoriStatus.push(`kategori.[${splitKategori[i]}]`)
				}
				console.log(kategoriStatus)
				var legendText = "<li><div></div> TOTAL</li>"
				var sortOrderElement = []
				for (let x = 0; x < data[1].length; x++) {
					if(data[1][0].label=="ASPEK"){
						elementFilter.push("ELEMENT.["+data[1][x].nama+"]")
					}
					if(data[1][0].label=="ELEMENT"){
						elementFilter.push("ELEMENT.["+data[1][x].nama+"]")
					}
					if(data[1][x].nama!="OTHER"){
						legendText += "<li><div></div> "+data[1][x].nama+"</li>"
					}
					sortOrderElement.push(data[1][x].nama)
				}
				console.log(elementFilter)
				$(".legendtext").html(legendText)
				// var lengthData = data[1].length-1
				// $(".legendtext li").css({"width": 100/lengthData +"%", "max-width" : 100/lengthData +"%"})
				var childlen = data[1].length
				$("style:last-child").remove()
				var html = ""
				html +="<style>"
				html += "rect:nth-child("+childlen+"){"
				// html += "display: none !important;"
				html += "}"
				html +="</style>"
				$("body").after(html)
				if(data[1][0].label=="ELEMENT") {
					var expand = true
					var pivot = new Flexmonster({
						container: "pivotContainer",
						toolbar: false,
						height: "100%",
						report: {
							dataSource: {
								filename: "<%= baseurl() %>rawdatacsv/detail_performance_2022.csv"
							},
							"slice": {
								"reportFilters": [
									{
										"uniqueName": "AREA",
										"filter": {
											"members": areaFilter
										}
									},
									{
										"uniqueName": "CABANG",
										"filter": {
											"members": branchFilter
										}
									},
									{
										"uniqueName": "KATEGORI",
										"filter": {
											"members": kategoriStatus
										}
									}
								],
								"columns": [
									{
										"uniqueName": "[Measures]"
									},
									{
										"uniqueName": "ELEMENT",
										"filter": {
											"members": elementFilter
										},
										"sortOrder" : sortOrderElement
									}
								],
								"measures": [
									{
										"uniqueName": "SCORE",
										"aggregation": "average"
									}
								],
								"expands": { "expandAll": expand },
							},
							"options": {
								"viewType": "charts",
								"grid": {
									"showGrandTotals": "off",
									"showReportFiltersArea": false
								},
								"chart": {
									"showDataLabels": true,
									"showReportFiltersArea": false
								}
							},
							"formats": [
								{
									"name": "",
									"decimalPlaces": 2
								}
							],
						},
						licenseKey: "Z70Q-XA3J4O-2C3U45-066V0Y"
					});
				}else{
					var pivot = new Flexmonster({
						container: "pivotContainer",
						toolbar: false,
						height: "100%",
						report: {
							dataSource: {
								filename: "<%= baseurl() %>rawdatacsv/detail_performance_2022.csv"
							},
							"slice": {
								"reportFilters": [
									{
										"uniqueName": "AREA",
										"filter": {
											"members": areaFilter
										}
									},
									{
										"uniqueName": "CABANG",
										"filter": {
											"members": branchFilter
										}
									},
									{
										"uniqueName": "KATEGORI",
										"filter": {
											"members": kategoriStatus
										}
									}
								],
								"columns": [
									{
										"uniqueName": "[Measures]"
									},
									{
										"uniqueName": "ASPEK",
										"filter": {
											"members": aspekFilter
										},
										"sortOrder": [
											"satpam",
											"penaksir",
											"kasir",
											"pengelola agunan",
											"ro",
											"protokol kesehatan",
											"kebersihan",
											"frontliner",
											"OTHER"
										]
									},
									{
										"uniqueName": "ELEMENT",
										"filter": {
											"members": elementFilter
										}
									}
								],
								"measures": [
									{
										"uniqueName": "SCORE",
										"aggregation": "average"
									}
								],
								"expands": { "expandAll": expand },
							},
							"options": {
								"viewType": "charts",
								"grid": {
									"showGrandTotals": "off",
									"showReportFiltersArea": false
								},
								"chart": {
									"showDataLabels": true,
									"showReportFiltersArea": false
								}
							},
							"formats": [
								{
									"name": "",
									"decimalPlaces": 2
								}
							],
						},
						licenseKey: "Z70Q-XA3J4O-2C3U45-066V0Y"
					});
				}
            }
        })
		return false
	})
})
			
</script>
<script src="<%= baseurl() %>plugin/flexmonster/flexmonster.js"></script>
</html>