<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="">
	<script src="<%= baseurl() %>plugin/flexmonster/theme/green/flexmonster.css"></script>
	<link rel="stylesheet" href="<%= baseurl() %>css/chart.css">
	<style>
		.canvasjs-chart-credit{
			display: none;
		}
		table th{
			position: sticky;
			top: 0;
			position: -webkit-sticky;
			z-index: 99;
		}
		th.rotate {
			/* Something you can count on */
			width: 22px;
			height: 270px;
			white-space: nowrap;
		}

		th.rotate > div {
			transform: 
				/* Magic Numbers */
				translate(-3px, 103px)
				/* 45 is really 360 - 45 */
				rotate(270deg);
			width: 30px;
		}
		th.rotate > div > span {
			border-bottom: 1px solid #ccc;
			padding: 5px 0;
			letter-spacing: .5px;
		}
		.square{
			position: relative;
			margin: auto;
			width: 20px;
			height: 20px !important;
			margin: 3px 0;
		}
		.used{
			background: #C6E48B;
		}
		.unused{
			background: #e6e6e6;
		}
		#fm-pivot-view .fm-data-label{
			font-size: 18px !important;
		}
		#fm-pivot-view #fm-charts-view #fm-header-toolbar #fm-charts-filters-container .fm-ui-btn{
			display: none !important;
		}
		#fm-pivot-view .fm-axis text{
			font-size: 18px !important;
		}
	</style>
</head>
<%- include ('./partials/header') %>
<body>
<div class="wrapper">
	<div class="lSide">
		<%- include ('./partials/sidebar') %>
	</div>
	<div class="rSide">
		<div class="head gradientr desk">
			<%- include ('./partials/topdesk') %>
		</div>
		<div class="mainbox size-std column" style="overflow: unset;">
			<div class="title-content size-std">
				DETAIL PERFORMANCE
			</div>
			<div class="cols-12 containt" style="margin: 0; overflow: auto; overflow: unset;">
                <div class="headtitle trans" style="margin-bottom: 0;">
                    <p class="size-head4 nopad">Control</p>
                </div>
                <form class="control">
                    <div class="list-control" style="border-bottom: none;">
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Kanwil</span>
                            <select name="" id="kanwil" class="size-std" onchange="getAreaByKanwil(this)">
                                <option value="all">-- Select Kanwil --</option>
                                <% for(var i=0; i < kanwil.length; i++){ %>
                                    <option value="<%= kanwil[i].id_region %>"><%= kanwil[i].region %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Area</span>
                            <select name="" id="area" class="size-std">
                                <option value="all">-- All --</option>
                            </select>
						</div>
						<div class="list-control-box spc-rl">
                            <span class="size-std">Show By Aspek</span>
                            <select name="" id="aspek" class="size-std" onchange="getElementByAspek(this)">
                                <option value="all">-- All --</option>
                                <% for(var i=0; i < aspek.length; i++){ %>
                                    <option value="<%= aspek[i].id_aspek %>"><%= aspek[i].label_aspek %></option>
                                <% } %>
                            </select>
						</div>
						<div class="list-control-box spc-rl">
                            <span class="size-std">Show By Element</span>
                            <select name="" id="element" class="size-std">
                                <option value="all">-- All --</option>
                            </select>
						</div>
                        <!-- <div class="list-control-box spc-rl">
                            <span class="size-std">Show By Year</span>
                            <select name="" id="year" class="size-std">
                                <option value="all">-- Select Year --</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                            </select>
                        </div> -->
                        <div class="list-control-box size-std spc-rl">
                            <!-- <button type="submit" class="myButton-submit">Show</button> -->
                            <button type="reset" class="myButton-submit">Clear</button>
                        </div>
                    </div>

                </form>
            </div>
			<!-- <div class="cols-12 containt" style="margin: 0; overflow: auto; overflow: unset;">
				<div class="headtitle trans" style="margin-bottom: 0;">
					<p class="size-head4 nopad">Control</p>
					<ul class="tab-image-setting nopad">
						<li>
							<a style="cursor: pointer;" onclick="clickToggle(downloadtoggle)">
								<img src="<%= baseurl() %>images/icon/download-icon.png" class="btn-tab-toggle delay">
							</a>
						</li>
					</ul>
				</div>
                <div class="list-control" style="border-bottom: none;">
                    <div class="list-control-box">
						<button class="option-click btn-list-control size-std" onclick="clickToggle(list_skenario)">
							Show By :&nbsp; Skenario
							<img src="<%= baseurl() %>images/icon/arrow-down.png" class="icon-list-control">
						</button>
						<div class="option-box option-menu shadow half box-list-control" id="list_skenario">
							<ul class="full-length nopad">
                                <a href="<%= baseurl() %>report/?skenario=gadai"><li class="pad-tb size-std">Gadai</li></a>
                                <a href="<%= baseurl() %>report/?skenario=telepon"><li class="pad-tb size-std">Telpon CS</li></a>
                                <a href="<%= baseurl() %>report/?skenario=pelunasan"><li class="pad-tb size-std">Pelunasan Gadai</li></a>
							</ul>
						</div>
					</div>
                </div>
			</div> -->
			<div class="cols-12 containt" style="margin: 20px 0;">
				<div class="headtitle trans" style="margin-bottom: 0;">
					<p class="size-head4 nopad">Detail Attribute Performance</p>
					<ul class="tab-image-setting nopad">
						<li><img src="<%= baseurl() %>images/icon/arrow-up.png" class="btn-tab-toggle delay" href="chartContainer"></li>
					</ul>
				</div>
				<div class="loader" style="display: none;">
                    <span class="loader-helper"></span><img src="<%= baseurl() %>images/icon/loader.gif" alt="">
                </div>
				<div style="width: 100%; height: 700px;" class="chartContainer"  id="chartContainer">
					<div id="pivotContainer" style="padding-bottom: 30px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<%- include ('./partials/footer') %>

<script type="text/javascript">
$(document).ready(function(){
				var pivot = new Flexmonster({
					container: "pivotContainer",
					toolbar: false,
					height: "100%",
					report: {
						dataSource: {
							filename: "<%= baseurl() %>rawdatacsv/gadai/detail_performance_new.csv"
						},
						"slice": {
							"reportFilters": [
								{
									"uniqueName": "AREA"
								},
								{
									"uniqueName": "CABANG"
								}
							],
							"columns": [
								{
									"uniqueName": "[Measures]"
								},
								{
									"uniqueName": "ASPEK"
								},
								{
									"uniqueName": "ELEMENT",
									"filter": {
										"exclude": [
											"ELEMENT.[Total Score]"
										]
									},
									"sortOrder": [
										"FRONTLINER",
										"Kegiatan Frontliner",
										"Sikap Frontliner/Staff Dalam Menerima Panggilan Telepon",
										"Sikap Frontliner/Staff Dalam Mengakhiri Panggilan Telepon"
									]
								}
							],
							"measures": [
								{
									"uniqueName": "SCORE",
									"aggregation": "average"
								}
							]
						},
						"options": {
							"viewType": "charts",
							"grid": {
								"showGrandTotals": "off",
								"showReportFiltersArea": false
							},
							"chart": {
								"showDataLabels": true,
								"showReportFiltersArea": false
							}
						},
						"formats": [
							{
								"name": "",
								"decimalPlaces": 2
							}
						],
					},
					licenseKey: "Z7V8-XD7I73-5A3R18-1G7126"
				});
	$(".control").change(function(){
        var kanwil = $('#kanwil').val()
		var area = $('#area').val()
		var aspek = $('#aspek').val()
		var element = $('#element').val()
        if(kanwil!="all"){
            $('#area').prop('disabled', false)
        }else{
            $('#area').prop('disabled', 'disabled')
		}
		if(aspek!="all"){
            $('#element').prop('disabled', false)
        }else{
            $('#element').prop('disabled', 'disabled')
		}
		console.log(aspek+", "+element)
		var data = "kanwil="+kanwil+"&area="+area+"&aspek="+aspek+"&element="+element
		$.ajax({
            url: "<%= baseurl() %>report/content/",
            type: "GET",
            data: data,
            cache: false,
            beforeSend: function(loading){
                $('.loader').show()
            },success: function(data){
				$('.loader').hide()
				var areaFilter = []
				var branchFilter = []
				var aspekFilter = []
				var elementFilter = []
				for (let i = 0; i < data[0].length; i++) {
					if(data[0][0].label=="AREA"){
						areaFilter.push("AREA.["+data[0][i].nama+"]")
					}
					if(data[0][0].label=="BRANCH"){
						branchFilter.push("CABANG.["+data[0][i].nama+"]")
					}
				}
				if(data[0][0].label=="AREA"){
					var rowss = [{"uniqueName": "AREA","filter": {"members": areaFilter}}]
				}
				if(data[0][0].label=="BRANCH"){
					var rowss = [{"uniqueName": "CABANG","filter": {"members": branchFilter}}]
				}


				for (let x = 0; x < data[1].length; x++) {
					if(data[1][0].label=="ASPEK"){
						aspekFilter.push("ASPEK.["+data[1][x].nama+"]")
					}
					if(data[1][0].label=="ELEMENT"){
						elementFilter.push("ELEMENT.["+data[1][x].nama+"]")
					}
				}
				if(data[1][0].label=="ELEMENT") {
					var expand = true
				}else{
					var expand = false
				}
				console.log(elementFilter)
				// console.log(areaFilter)
				var pivot = new Flexmonster({
					container: "pivotContainer",
					toolbar: false,
					height: "100%",
					report: {
						dataSource: {
							filename: "<%= baseurl() %>rawdatacsv/gadai/detail_performance_new.csv"
						},
						"slice": {
							"reportFilters": [
								{
									"uniqueName": "AREA",
									"filter": {
										"members": areaFilter
									}
								},
								{
									"uniqueName": "CABANG",
									"filter": {
										"members": branchFilter
									}
								}
							],
							"columns": [
								{
									"uniqueName": "[Measures]"
								},
								{
									"uniqueName": "ASPEK",
									"filter": {
										"members": aspekFilter
									}
								},
								{
									"uniqueName": "ELEMENT",
									"filter": {
										"members": elementFilter
									},
									"sortOrder": [
										"FRONTLINER",
										"Kegiatan Frontliner",
										"Sikap Frontliner/Staff Dalam Menerima Panggilan Telepon",
										"Sikap Frontliner/Staff Dalam Mengakhiri Panggilan Telepon"
									]
								}
							],
							"measures": [
								{
									"uniqueName": "SCORE",
									"aggregation": "average"
								}
							],
							"expands": { "expandAll": expand },
						},
						"options": {
							"viewType": "charts",
							"grid": {
								"showGrandTotals": "off",
								"showReportFiltersArea": false
							},
							"chart": {
								"showDataLabels": true,
								"showReportFiltersArea": false
							}
						},
						"formats": [
							{
								"name": "",
								"decimalPlaces": 2
							}
						],
					},
					licenseKey: "Z7V8-XD7I73-5A3R18-1G7126"
				});
            }
        })
		return false
	})
})
			
</script>
<script src="<%= baseurl() %>plugin/flexmonster/flexmonster.js"></script>
</html>